.card {
  display: flex;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 10px;
  transition: border-radius 0.3s;
  padding: 1rem;
  background-color: var(--darkest);
  text-align: center;
}
.card:hover {
  border-radius: 20px;
}
.cardEdit {
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
}
