#root {
  font-family: "Nunito", sans-serif;
  width: 100%;
  --main: #6143ae;
  --second: #594195;
  --dark: #4c3c77;
  --darker: #352e48;
  --darkest: #1b191f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
